body{
    margin:0;
    background-color: black;
    color: white;
}
table{
    background-color:#ffd31d;
    
 }

 td{
     padding: 5px;
 }
 img{
     border-radius: 50%;
     border: solid 1px;
     margin-left: 30px;
 }
 h4{
     
     color:greenyellow;
     margin-left: 20px;
    text-decoration: underline;
 }
 hr{
    color:white;
     height: 20px;
     width:20%;
     margin-left: 60%;
     border-style: dotted none none;
     
     border-width:10px;     
}
i{
    margin-right: 8px;
    color: white;
}



 
